<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tkp.learn.web.dao.LearnDefCategoryTagMapper">

    <!-- 获取课程标签 -->
    <select id="getLessonTags" resultType="com.tkp.learn.web.model.bo.LessonTagBo">
        SELECT
            a.uuid lessonId,
            t.code tagCode,
            t.name tagName,
            t.order_no sortNo
        FROM
            learn_lesson a
            LEFT JOIN learn_rel_lesson_category_tag r ON a.uuid = r.lesson_id
            LEFT JOIN learn_def_category_tag t ON r.category_tag_id = t.code
        WHERE a.file_status = '1'
        AND NOW() BETWEEN a.begin_time AND a.end_time
        ORDER BY a.create_time ASC
    </select>

    <!-- 根据课程id获取课程标签 -->
    <select id="getLessonTagsByLessonId" parameterType="java.lang.String"
            resultType="com.tkp.learn.web.model.bo.TagBo">
        SELECT
            t.code tagCode,
            t.name tagName,
            t.order_no sortNo
        FROM
            learn_lesson a
            LEFT JOIN learn_rel_lesson_category_tag r ON a.uuid = r.lesson_id
            LEFT JOIN learn_def_category_tag t ON r.category_tag_id = t.code
        WHERE a.uuid = #{lessonId}
    </select>
</mapper>